/* Unverisal Selector */
* {
    margin: 0;
    padding: 0;
  }
  
  /* header */
  header {
    background-color: tan;
    padding: 10px;
    border-bottom: black solid 1px;
    height: 80px;
    text-align: center;
  }
  
  /* h1 tags */
  header h1 {
    font-style: italic;
    text-align: center;
    margin-bottom: 6px;
  }
  
  /* Hero image */
  .container {
    position: relative;
    text-align: center;
  }
  
  /* Thailand ID */
  #Thailand {
    font-size: 80px;
    color: black;
    text-align: center;
  }
  
  /* Hero-Text */
  .centered {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 500;
    font-size: 100px;
  }
  
  /* h2 tags */
  h2 {
    text-align: center;
    font-size: 35px;
  }
  
  /* h3 tags */
  h3 {
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 35px;
    color: black;
  }
  
  /* section tags */
  section {
    width: auto;
    margin-bottom: 50px;
    }
  
  /* nav bar */
  nav ul {
    margin-left: 25%;
    margin-right: 25%;
  }
  
  nav ul li {
    text-align: center;
  }
  
  nav ul li a{
    text-decoration: none;
    list-style: none;
    padding: 0px;
    text-align: center;
    color: navy;
  }
  
  .images {
    width: 400px;
    height: auto;
  }
  
  /* left class */
  .left {
    float: left;
    margin: auto;
  }
  
  /* center class */
  .center {
    text-align: center;
    float: none;
  }
  
  /* right class */
  .right {
    float: right;
  }
  
  /* body tags */
  body {
    text-align: center;
    background-color: tan;
  }
  
  /* list tags */
  body ul li {
    list-style-type: none;
    font-size: 20px;
    position: relative;
    margin-bottom: 20px;
  }
  
  /* footer */
  footer {
    position: absolute;
    margin-top: 90px;
    width: 100%;
    background-color: white;
    text-align: center;
  }
  
  /* p tags under div */
  div p {
    margin-left: 25%;
    margin-right: 25%;
    text-align: left;
    font-size: 24px;
  }
  
  /* form */
  label {
  font-size: 30px;
  }
  
  textarea {
  width: 500px;
  height: 120px;
  font-size: 20px;
  }
  
  input {
    width: 300px;
    height: 40px;
    font-size: 30px;
  }